<!DOCTYPE html>
<html>

	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
		<script type="text/javascript" src="../js/jquery-3.2.1.min.js" ></script>
		<script type="text/javascript" async="" src="../js/fangjia/advert.js"></script>
		<!--<script type="text/javascript" async="" charset="utf-8" src="core.php"></script>
		<script type="text/javascript" async="" charset="utf-8" src="core_001.php"></script>
		<script type="text/javascript" async="" charset="utf-8" src="core_002.php"></script>-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Cache-Control" content="no-transform">
		<meta http-equiv="Cache-Control" content="no-siteapp">
		<meta http-equiv="Content-language" content="zh-CN">
		<meta name="format-detection" content="telephone=no">
		<meta name="applicable-device" content="pc">
		<link rel="alternate" media="only screen and (max-width: 640px)" href="https://sy.lianjia.com/city/">
		<meta name="mobile-agent" content="format=html5;url=">
		<script type="text/javascript" async="" src="../js/fangjia/mv.js"></script>
		<script type="text/javascript" async="" src="../js/fangjia/mba.js"></script>
		<script type="text/javascript" async="" src="../js/fangjia/mvl.js"></script>
		<script async="" src="../js/fangjia/analytics.js"></script>
		<script type="text/javascript" async="" src="../js/fangjia/collect.js"></script>
		<script src="../js/hm.js"></script>
		<script>
			ljConf = {
				city_id: '210100',
				city_abbr: 'sy',
				city_name: '沈阳',
				channel: 'city',
				page: 'city_index',
				pageConfig: {
					"ajaxroot": "\/\/ajax.api.lianjia.com\/",
					"imAppid": "LIANJIA_WEB_20160624",
					"imAppkey": "6dfdcee27d78b1107fceeca55d80b7bd"
				},
				feroot: '//s1.ljcdn.com/feroot/',
				ucid: '',
				cdn: '0',
			};
		</script>

		<!-- 2017.11.8 市场需求加上新的统计 -->
		<!-- 2017.7.18 开放全国 -->
		<script>
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "https://hm.baidu.com/hm.js?9152f8221cb6243a53c83b956842be8a";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
		</script>
		<script src="../js/fangjia/tingyun-rum.js"></script>
		<title>(沈阳誉桥网)</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<link href="favicon.ico" type="image/x-icon" rel="icon">
		<link href="favicon.ico" type="image/x-icon" rel="shortcut icon">
		<link rel="stylesheet" type="text/css" href="../css/base.css" />

		<!--[if lt IE 9]><script type="text/javascript" src="https://s1.ljcdn.com/feroot/dep/common-require/html5.js?_v=20180830183504"></script><![endif]-->
		<script>
			function RESIZEIMG(b, k, l, m) {
				var c = b.parentNode;
				var d = parseInt(c.offsetWidth) || k;
				var e = parseInt(c.offsetHeight) || l;
				var f = d / e;
				var g = b.naturalWidth || b.width;
				var h = b.naturalHeight || b.height;
				var i = g / h;
				var j = "width";
				if(f < i) {
					j = "height";
					try {
						b.style["left"] = "-" + parseInt(Math.abs((d - (g * e / h)) / 2)) + "px"
					} catch(e) {}
				} else if(m) {
					try {
						b.style["top"] = "-" + parseInt(Math.abs((e - (h * d / g)) / 2)) + "px"
					} catch(e) {}
				};
				b.style[j] = "100%";
			};
		</script>
		<script>
			var _czc = _czc || [];
			_czc.push(["_setAccount", "1254525948"]);
		</script>

		<script type="text/javascript">
			var _smq = _smq || [];
			_smq.push(['_setAccount', '41331c2', new Date()]);
			_smq.push(['_setDomainName', 'lianjia.com']);
			_smq.push(['pageview']);
			(function() {
				var sm = document.createElement('script');
				sm.type = 'text/javascript';
				sm.async = true;
				sm.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdnmaster.com/sitemaster/collect.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(sm, s);
			})();
		</script>
		<script src="../js/fangjia/lianjiaulog.js"></script>
		<link media="all" href="../css/ditu/cityXuanzhe.css" type="text/css" rel="stylesheet">
	</head>

	<body>
		<script>
			__STAT_LJ_CONF = {
				params: {
					ljweb_group: ['SEARCH', 'BIGDATA_PC'],
					ljweb_id: '',
					ljweb_mod: '',
					ljweb_bl: '',
					ljweb_el: '',
					ljweb_sl: '',
					ljweb_index: '',
					ljweb_value: '',
					ljweb_url: '',
					ljweb_ljref: (document.cookie.match(/(?:^| )ljref=([^;]*)(?:;|$)/) || ['', ''])[1],
					ljweb_sample: (document.cookie.match(/(?:^| )sample_traffic_test=([^;]*)(?:;|$)/) || ['', ''])[1],
					ljweb_ref: document.referrer,
					ljweb_cid: '210100',
					ljweb_channel: 'city',
					ljweb_page: 'city_index',
					ljweb_source: '',
					ljweb_stat_id: ''
				}
			};

			var UT = {
				send: function() {

				}
			};
			var LjUserTrack = {
				log: [],
				initInterval: false,
				intervalLog: function() {
					setTimeout(function() {
						if(window.$ULOG && $ULOG.send) {
							for(var i = 0, l = LjUserTrack.log.length; i < l; i++) {
								LjUserTrack.__send(LjUserTrack.log[i]);
							}

							for(var m = 0, n = LjUserTrack.logIds.length; m < n; m++) {
								LjUserTrack.__sendId(LjUserTrack.logIds[m]);
							}
							for(var j = 0, k = LjUserTrack.logDatas.length; j < k; j++) {
								LjUserTrack.__sendData(LjUserTrack.logDatas[j].id, LjUserTrack.logDatas[j].data);
							}
						} else {
							LjUserTrack.intervalLog();
						}
					}, 16.7);
				},
				_start_time: +new Date,
				logDatas: [],
				__sendData: function(id, data) {
					if(id && (typeof(data) == 'object')) {
						data.pid = (window.__UDL_CONFIG && window.__UDL_CONFIG.pid && window.__UDL_CONFIG.pid) || "lianjiaweb";
						data.key = window.location.href;
						window.$ULOG && $ULOG.send(id, data);
					}
				},
				sendData: function(id, data) {
					if(window.$ULOG && $ULOG.send) {
						LjUserTrack.__sendData(id, data);
					} else {
						LjUserTrack.logDatas.push({
							id: id,
							data: data
						});

						LjUserTrack.initInterval || (LjUserTrack.initInterval = true, LjUserTrack.intervalLog());

					}
				},
				__send: function(data) {
					var evt_id = data.evt_id || '10043';
					if('evt_id' in data) {
						delete data.evt_id;
					}

					window.$ULOG && $ULOG.send(evt_id, {
						"pid": (window.__UDL_CONFIG && window.__UDL_CONFIG.pid && window.__UDL_CONFIG.pid) || "lianjiaweb",
						"key": window.location.href,
						"action": data
					});
				},
				logIds: [],
				__sendId: function(id) {
					id && window.$ULOG && window.$ULOG && $ULOG.send(id, {
						"pid": (window.__UDL_CONFIG && window.__UDL_CONFIG.pid && window.__UDL_CONFIG.pid) || "lianjiaweb",
						"key": window.location.href
					});
				},
				sendId: function(id) {
					if(window.$ULOG && $ULOG.send) {
						LjUserTrack.__sendId(id);
					} else {
						LjUserTrack.logIds.push(id);

						LjUserTrack.initInterval || (LjUserTrack.initInterval = true, LjUserTrack.intervalLog());

					}
				},
				send: function(data, el, config) {

					var utConf = __STAT_LJ_CONF;
					var params = config || utConf.params,
						win = window,
						j;

					data.groupIndex = data.ljweb_group || 0;

					if(params) {
						for(var d in params) {
							if(params[d] !== j && data[d] === j) {
								data[d] = params[d];
							}
						}
					}

					if(el) {
						this.checkClick(el, data);
					}

					data.ljweb_group = params['ljweb_group'][data.groupIndex || 0];

					delete data.groupIndex;

					if(data.typ) {
						data.ljweb_bl = (data.ljweb_bl || '') + '_' + data.typ;
						delete data.typ;
					}

					if(window.$ULOG && $ULOG.send) {
						LjUserTrack.__send(data);
					} else {
						LjUserTrack.log.push(data);

						LjUserTrack.initInterval || (LjUserTrack.initInterval = true, LjUserTrack.intervalLog());

					}

				},
				checkClick: function(el, data) {

					var TAG_LINK = 'A';
					var href = '';
					var elParent = null;

					href = (el.tagName.toUpperCase() === TAG_LINK ? el.getAttribute("href", 2) : '');
					if(!href && (elParent = el.parentNode) && elParent.nodeType === 1) {
						href = (elParent.tagName.toUpperCase() === TAG_LINK ? elParent.getAttribute("href", 2) : '');
					}

					if(href) {
						data.ljweb_url = href;
					} else {
						data.ljweb_url = data.ljweb_url ||
							el.getAttribute("data-log_url") ||
							(elParent = el.parentNode || el).getAttribute("data-log_url") ||
							(
								(elParent = elParent.parentNode || elParent) &&
								(elParent.nodeType === 1) &&
								elParent.getAttribute("data-log_url")
							) ||
							"";
					}

					this.attr(el, data);

				},
				path: function() {

				},
				attr: function(el, data) {
					var modId = el.getAttribute("log-mod");
					var blAttr = el.getAttribute("data-bl");
					var elAttr = el.getAttribute("data-el");
					var slAttr = el.getAttribute("data-sl");
					var InAttr = el.getAttribute("data-log_index");
					var valAttr = el.getAttribute("data-log_value");
					var idAttr = el.getAttribute("data-log_id");
					var groupAttr = el.getAttribute("data-log_group");
					var sourceAttr = el.getAttribute("data-log_source");
					var statIdAttr = el.getAttribute("data-log_statId");
					var evtId = el.getAttribute("data-log_evtid");

					data.ljweb_bl = data.ljweb_bl || blAttr || '';
					data.ljweb_el = data.ljweb_el || elAttr || '';
					data.ljweb_sl = data.ljweb_sl || slAttr || '';
					data.ljweb_index = data.ljweb_index || InAttr || '';
					data.ljweb_value = data.ljweb_value || valAttr || '';
					data.ljweb_id = data.ljweb_id || idAttr || '';
					data.ljweb_source = data.ljweb_source || sourceAttr || '';
					data.ljweb_stat_id = data.ljweb_stat_id || statIdAttr || 0;
					data.groupIndex = data.groupIndex || groupAttr || 0;
					data.evt_id = data.evt_id || evtId || '';

					if(!modId) {
						if(el.parentNode && el.parentNode.nodeType === 1 && el.parentNode.tagName.toUpperCase() !== 'BODY') {
							this.attr(el.parentNode, data);
						}
					} else {
						data.ljweb_mod = modId;
					}
				}
			};

			;;
			(function() {
				var isW3c = !!document.addEventListener;

				LjUserTrack.send({
					ljweb_mod: 'pv',
					ljweb_group: 1
				});

				/*window[isW3c ? 'addEventListener' : 'attachEvent'](
				    (isW3c ? '': 'on') + 'beforeunload',
				    function(e) {
				        var _end_time = +new Date;
				        UT.send({type: 'show', subtype: 'stay', time: (_end_time-UT._start_time)/1000});
				    },
				    false);*/
			})();
		</script>

		<!-- <div class="main-top">
    <div class="con">
        <span class="logo"><a href=""></a></span>
    </div>
</div> -->
		<!--右侧贴边导航quick_links.js控制-->
		<div th:replace="base/rightBase :: html"></div>
		<!--右侧贴边导航quick_links.js控制 end-->
		<!--顶部导航栏开始-->
		<div class="topbox" id="NewgoTop">
			<div class="topnav">
				<h1 class="f-l"><a href="../index.html" title="渔樵在线"></a></h1>
				<!--网站主导航-->
				<div class="main-menu f-l">
					<ul>

						<li>
							<a target="_self" title="首页" href="../index.html" class="">首页</a>
						</li>

						<li>
							<a target="_self" title="沈阳二手房" href="../ershoufang/ershoufang.html" class="menuhover">二手房</a>
							<div class="main-m-2j"><i></i><span><a href="../ershoufang/ershoufang.html">个人房源</a></span><span><a href="../ershoufang/ershoufang.html">别墅</a></span><span><a href="../ershoufang/ershoufang.html">找小区</a></span>
								<!--	<span><a href="https://www.yqgs.cn/daikuan/gongju/daikuan/">贷款计算</a></span>
--><span class="m-m-2j-btn"><a href="../help-house/maifang.html">我要卖房</a></span></div>
						</li>

						<li>
							<a target="_self" title="沈阳新房" href="../newHouse/newhouse.html" class="">新房团购</a>
						</li>

						<li>
							<a target="_self" title="沈阳租房" href="../ershoufang/ershoufang.html" class="">租房</a>
							<div class="main-m-2j"><i></i><span><a href="../ershoufang/ershoufang.html" targer="_blank">渔樵整租</a></span><span><a href="../ershoufang/ershoufang.html">个人房源</a></span><span><a href="../ershoufang/ershoufang.html">找小区</a></span><span><a href="../ershoufang/ershoufang.html">房屋管家</a></span><span class="m-m-2j-btn"><a href="../help-house/chuzu.html">免费出租</a></span></div>
						</li>

						<li>
							<a target="_self" title="沈阳找经纪人" href="../jingjiren/jingjiren.html" class="">找经纪人</a>
						</li>

						<li>
							<a target="_self" title="沈阳商用房，沈阳门市房" href="../ershoufang/ershoufang.html" class="">商用房</a>
							<div class="main-m-2j"><i></i><span><a href="../help-house/buy.html">商用房买卖</a></span><span><a href="../help-house/chuzu.html">商用房租赁</a></span></div>
						</li>

						<li>
							<a target="_self" title="沈阳地图找房" href="../maptohouse/ditu.html" class="">地图找房</a>
						</li>

						<li>
							<a target="_self" title="沈阳二手房贷款问答指南" href="../wenda/wenda.html" class="">问答指南</a>
							<div class="main-m-2j"><i></i><span><a href="../wenda/wenda.html">贷款知识</a></span><span><a href="../wenda/wenda.html">权证知识</a></span><span><a href="../wenda/wenda.html">贷款计算</a></span></div>
						</li>

						<li>
							<a title="沈阳房产网资讯" href="../fangjia/fangjia.html" class="">房价</a>
						</li>

						<li>
							<a target="_self" title="沈阳发布房源" href="../help-house/maifang.html" class="">发布房源</a>
							<div class="main-m-2j"><i></i><span><a href="../help-house/maifang.html"> 卖房 </a></span><span><a href="../help-house/buy.html"> 买房 </a></span><span><a href="../help-house/chuzu.html"> 出租 </a></span><span><a href="../help-house/chuzu.html"> 求租 </a></span></div>
						</li>

						<li>
							<a target="_self" title="沈阳移动APP" href="#" class="">移动APP</a>
							<div class="main-m-2j hearerweima"><i></i>
								<div class="h_erweima"></div>
							</div>
						</li>

					</ul>
				</div>
				<div class="loginbox f-r" id="LoginUser">
					<a rel="nofollow" href="#" class="logintopbtn" target="_top">登录</a><i>|</i>
					<a rel="nofollow" href="#" target="_top">注册</a>
				</div>

			</div>
		</div>
		<!--顶部导航栏结束-->

		<div class="city_selection_section">
			<div>
				<div class="city_recommend c_b">
					<div class="city_recommend_tit">
						热门城市
					</div>
					<ul class="city_recommend_list">
						<li>
							<a href="https://bj.lianjia.com/">北京</a>
						</li>
						<li>
							<a href="https://sh.lianjia.com/">上海</a>
						</li>
						<li>
							<a href="https://sz.lianjia.com/">深圳</a>
						</li>
					</ul>
				</div>
				<div class="city_recommend c_b">
					<div class="city_recommend_tit">
						城市选择
					</div>
					<div class="select">
						<div class="chang-city">
							<span>省份</span>
							<i class="icon"></i>
						</div>
						<div class="select_options_frame" id="provincesItem" style="display: none;">
							<ul class="select_options">

								<li>北京</li>

								<li>上海</li>

								<li>广东</li>

								<li>天津</li>

								<li>四川</li>

								<li>江苏</li>

								<li>浙江</li>

								<li>山东</li>

								<li>辽宁</li>

								<li>福建</li>

								<li>湖北</li>

								<li>重庆</li>

								<li>湖南</li>

								<li>陕西</li>

								<li>河北</li>

								<li>山西</li>

								<li>海南</li>

								<li>安徽</li>

								<li>云南</li>

								<li>河南</li>

							</ul>
						</div>
					</div>
					<div class="select">
						<div class="chang-city">
							<span>城市</span>
							<i class="icon"></i>
						</div>
						<div class="select_options_frame" id="cityItem" style="display: none;"></div>
					</div>

				</div>
			</div>
			<div class="city_recommend">
				<div class="city-item VIEWDATA">
					<!-- <div class="city_recommend_tit city_recommend_tit_long c_b">
                    按照省份首字母选择
                </div> -->
					<div class="city_list_section">
						<ul class="city_list_ul">
							<li class="city_list_li city_list_li_selected">
								<div class="city_firstletter">
									<span>A</span>
									<i></i>
								</div>
								<div class="city_list">
									<div class="city_province">
										<i></i>
										<div class="city_list_tit c_b">安徽</div>
										<ul>
											<li>
												<a href="https://cz.fang.lianjia.com/">滁州</a>
											</li>
											<li>
												<a href="https://hf.lianjia.com/">合肥</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="city_list_li city_list_li_selected">
								<div class="city_firstletter">
									<span>B</span>
									<i></i>
								</div>
								<div class="city_list">
									<div class="city_province">
										<i></i>
										<div class="city_list_tit c_b">北京</div>
										<ul>
											<li>
												<a href="https://bj.lianjia.com/">北京</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="city_list_li city_list_li_selected">
								<div class="city_firstletter">
									<span>C</span>
									<i></i>
								</div>
								<div class="city_list">
									<div class="city_province">
										<i></i>
										<div class="city_list_tit c_b">重庆</div>
										<ul>
											<li>
												<a href="https://cq.lianjia.com/">重庆</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="city_list_li city_list_li_selected">
								<div class="city_firstletter">
									<span>F</span>
									<i></i>
								</div>
								<div class="city_list">
									<div class="city_province">
										<i></i>
										<div class="city_list_tit c_b">福建</div>
										<ul>
											<li>
												<a href="https://ly.fang.lianjia.com/">龙岩</a>
											</li>
											<li>
												<a href="https://quanzhou.fang.lianjia.com/">泉州</a>
											</li>
											<li>
												<a href="https://xm.lianjia.com/">厦门</a>
											</li>
											<li>
												<a href="https://zhangzhou.fang.lianjia.com/">漳州</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="city_list_li city_list_li_selected">
								<div class="city_firstletter">
									<span>G</span>
									<i></i>
								</div>
								<div class="city_list">
									<div class="city_province">
										<i></i>
										<div class="city_list_tit c_b">广东</div>
										<ul>
											<li>
												<a href="https://dg.lianjia.com/">东莞</a>
											</li>
											<li>
												<a href="https://fs.lianjia.com/">佛山</a>
											</li>
											<li>
												<a href="https://gz.lianjia.com/">广州</a>
											</li>
											<li>
												<a href="https://hui.lianjia.com/">惠州</a>
											</li>
											<li>
												<a href="https://qy.fang.lianjia.com/">清远</a>
											</li>
											<li>
												<a href="https://sz.lianjia.com/">深圳</a>
											</li>
											<li>
												<a href="https://zh.lianjia.com/">珠海</a>
											</li>
											<li>
												<a href="https://zs.lianjia.com/">中山</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="city_list_li city_list_li_selected">
								<div class="city_firstletter">
									<span>H</span>
									<i></i>
								</div>
								<div class="city_list">
									<div class="city_province">
										<i></i>
										<div class="city_list_tit c_b">湖北</div>
										<ul>
											<li>
												<a href="https://hg.fang.lianjia.com/">黄冈</a>
											</li>
											<li>
												<a href="https://wh.lianjia.com/">武汉</a>
											</li>
											<li>
												<a href="https://xn.fang.lianjia.com/">咸宁</a>
											</li>
										</ul>
									</div>
									<div class="city_province">
										<i></i>
										<div class="city_list_tit c_b">湖南</div>
										<ul>
											<li>
												<a href="https://cs.lianjia.com/">长沙</a>
											</li>
										</ul>
									</div>
									<div class="city_province">
										<i></i>
										<div class="city_list_tit c_b">河北</div>
										<ul>
											<li>
												<a href="https://bd.fang.lianjia.com/">保定</a>
											</li>
											<li>
												<a href="https://chengde.fang.lianjia.com/">承德</a>
											</li>
											<li>
												<a href="https://hd.fang.lianjia.com/">邯郸</a>
											</li>
											<li>
												<a href="https://hs.fang.lianjia.com/">衡水</a>
											</li>
											<li>
												<a href="https://lf.lianjia.com/">廊坊</a>
											</li>
											<li>
												<a href="https://qhd.fang.lianjia.com/">秦皇岛</a>
											</li>
											<li>
												<a href="https://sjz.lianjia.com/">石家庄</a>
											</li>
											<li>
												<a href="https://xt.fang.lianjia.com/">邢台</a>
											</li>
											<li>
												<a href="https://zjk.fang.lianjia.com/">张家口</a>
											</li>
										</ul>
									</div>
									<div class="city_province">
										<i></i>
										<div class="city_list_tit c_b">海南</div>
										<ul>
											<li>
												<a href="http://you.lianjia.com/bt">保亭</a>
											</li>
											<li>
												<a href="http://you.lianjia.com/cm">澄迈</a>
											</li>
											<li>
												<a href="http://you.lianjia.com/dz">儋州</a>
											</li>
											<li>
												<a href="http://you.lianjia.com/da">定安</a>
											</li>
											<li>
												<a href="https://hk.lianjia.com/">海口</a>
											</li>
											<li>
												<a href="http://you.lianjia.com/lg">临高</a>
											</li>
											<li>
												<a href="http://you.lianjia.com/ld">乐东</a>
											</li>
											<li>
												<a href="http://you.lianjia.com/ls">陵水</a>
											</li>
											<li>
												<a href="http://you.lianjia.com/qh">琼海</a>
											</li>
											<li>
												<a href="http://you.lianjia.com/qz">琼中</a>
											</li>
											<li>
												<a href="http://you.lianjia.com/san">三亚</a>
											</li>
											<li>
												<a href="http://you.lianjia.com/wzs">五指山</a>
											</li>
											<li>
												<a href="http://you.lianjia.com/wc">文昌</a>
											</li>
											<li>
												<a href="http://you.lianjia.com/wn">万宁</a>
											</li>
										</ul>
									</div>
									<div class="city_province">
										<i></i>
										<div class="city_list_tit c_b">河南</div>
										<ul>
											<li>
												<a href="https://zz.lianjia.com/">郑州</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="city_list_li city_list_li_selected">
								<div class="city_firstletter">
									<span>J</span>
									<i></i>
								</div>
								<div class="city_list">
									<div class="city_province">
										<i></i>
										<div class="city_list_tit c_b">江苏</div>
										<ul>
											<li>
												<a href="https://nj.lianjia.com/">南京</a>
											</li>
											<li>
												<a href="https://su.lianjia.com/">苏州</a>
											</li>
											<li>
												<a href="https://wx.lianjia.com/">无锡</a>
											</li>
											<li>
												<a href="https://xz.fang.lianjia.com/">徐州</a>
											</li>
											<li>
												<a href="https://zj.fang.lianjia.com/">镇江</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="city_list_li city_list_li_selected">
								<div class="city_firstletter">
									<span>L</span>
									<i></i>
								</div>
								<div class="city_list">
									<div class="city_province">
										<i></i>
										<div class="city_list_tit c_b">辽宁</div>
										<ul>
											<li>
												<a href="https://dl.lianjia.com/">大连</a>
											</li>
											<li>
												<a href="https://sy.lianjia.com/">沈阳</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="city_list_li city_list_li_selected">
								<div class="city_firstletter">
									<span>S</span>
									<i></i>
								</div>
								<div class="city_list">
									<div class="city_province">
										<i></i>
										<div class="city_list_tit c_b">上海</div>
										<ul>
											<li>
												<a href="https://sh.lianjia.com/">上海</a>
											</li>
										</ul>
									</div>
									<div class="city_province">
										<i></i>
										<div class="city_list_tit c_b">四川</div>
										<ul>
											<li>
												<a href="https://cd.lianjia.com/">成都</a>
											</li>
											<li>
												<a href="https://dy.fang.lianjia.com/">德阳</a>
											</li>
											<li>
												<a href="https://leshan.fang.lianjia.com/">乐山</a>
											</li>
											<li>
												<a href="https://ms.fang.lianjia.com/">眉山</a>
											</li>
										</ul>
									</div>
									<div class="city_province">
										<i></i>
										<div class="city_list_tit c_b">山东</div>
										<ul>
											<li>
												<a href="https://jn.lianjia.com/">济南</a>
											</li>
											<li>
												<a href="https://qd.lianjia.com/">青岛</a>
											</li>
											<li>
												<a href="https://weihai.fang.lianjia.com/">威海</a>
											</li>
											<li>
												<a href="https://yt.lianjia.com/">烟台</a>
											</li>
										</ul>
									</div>
									<div class="city_province">
										<i></i>
										<div class="city_list_tit c_b">陕西</div>
										<ul>
											<li>
												<a href="https://xa.lianjia.com/">西安</a>
											</li>
										</ul>
									</div>
									<div class="city_province">
										<i></i>
										<div class="city_list_tit c_b">山西</div>
										<ul>
											<li>
												<a href="https://jz.fang.lianjia.com/">晋中</a>
											</li>
											<li>
												<a href="https://ty.fang.lianjia.com/">太原</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="city_list_li city_list_li_selected">
								<div class="city_firstletter">
									<span>T</span>
									<i></i>
								</div>
								<div class="city_list">
									<div class="city_province">
										<i></i>
										<div class="city_list_tit c_b">天津</div>
										<ul>
											<li>
												<a href="https://tj.lianjia.com/">天津</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="city_list_li city_list_li_selected">
								<div class="city_firstletter">
									<span>Y</span>
									<i></i>
								</div>
								<div class="city_list">
									<div class="city_province">
										<i></i>
										<div class="city_list_tit c_b">云南</div>
										<ul>
											<li>
												<a href="http://you.lianjia.com/dl1">大理</a>
											</li>
											<li>
												<a href="https://km.fang.lianjia.com/">昆明</a>
											</li>
											<li>
												<a href="http://you.lianjia.com/xsbn">西双版纳</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="city_list_li city_list_li_selected">
								<div class="city_firstletter">
									<span>Z</span>
									<i></i>
								</div>
								<div class="city_list">
									<div class="city_province">
										<i></i>
										<div class="city_list_tit c_b">浙江</div>
										<ul>
											<li>
												<a href="https://hz.lianjia.com/">杭州</a>
											</li>
											<li>
												<a href="https://jx.fang.lianjia.com/">嘉兴</a>
											</li>
											<li>
												<a href="https://sx.fang.lianjia.com/">绍兴</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="top-cities clear">

		</div>

<!--		<script type="text/template" id="sugTpl">
			<ul class="city_sug">
				<%if(list.length > 0){%>
				<%for(var i = 0; i < list.length; i++){%>
				<li>
					<a href="<%=list[i].url%>" data-log_index="<%=i%>">
						<%=list[i].name%>
					</a>
				</li>
				<%}%>
				<%}else{%>
				<li><span>抱歉，未能找到相关城市</span></li>
				<%}%>
			</ul>
		</script>-->
		<script>
			$(function () {
				$(".chang-city").click(function () {
					$("#provincesItem").css("display","block")
				})
			})
		</script>
		<!--<script type="text/template" id="provincesItemTpl">
			<ul class="select_options">
				<%for(i in list){%>
				<li>
					<%=i%>
				</li>
				<%}%>
			</ul>
		</script>-->
		<!--<script type="text/template" id="cityItemTpl">
			<ul class="select_options">
				<%for(i in list){%>
				<li>
					<a href="<%=list[i].url%>">
						<%=list[i].name%>
					</a>
				</li>
				<%}%>
			</ul>
		</script>-->

		<!--底部-->

		<div id="ZY_Foot ">

			<div class="b-link ">
				<div class="bottomlinks clearfix ">
					<div class="b-l ">
						<div class="b-pub1 b-yl ">
							<div class="b-pub1-t b-yl-t "><span><b>友情链接及合作伙伴</b></span></div>
							<ul class="clearfix ">

								<li>
									<a title="superman " href="# " target="_top ">a网</a>
								</li>
								<li>
									<a title="superman " href="# " target="_top ">b网</a>
								</li>
							</ul>
						</div>
						<div class="b-pub1 b-rm ">
							<div class="b-pub1-t b-rm-t "><span><b>热门区域二手房</b></span></div>
							<ul class="clearfix ">
								<li>
									<a href="# ">铁西区二手房</a>
								</li>
								<li>
									<a href="# ">大东区二手房</a>
								</li>
								<li>
									<a href="# ">沈河区二手房</a>
								</li>
								<li>
									<a href="# ">于洪区二手房</a>
								</li>
								<li>
									<a href="# ">浑南新区二手房</a>
								</li>
								<li>
									<a href="# ">和平区二手房</a>
								</li>
								<li>
									<a href="# ">皇姑区二手房</a>
								</li>
								<li>
									<a href="# ">辽中二手房</a>
								</li>
								<li>
									<a href="# ">沈北新区二手房</a>
								</li>
								<li>
									<a href="# ">经济开发区二手房</a>
								</li>
							</ul>
						</div>

						<div class="b-pub1 b-rm ">
							<div class="b-pub1-t b-rm-t "><span><b>推荐关键字</b></span></div>
							<ul class="clearfix ">

								<li>
									<a href="# ">铁西区二手房</a>
								</li>

								<li>
									<a href="# ">浑南区二手房</a>
								</li>

								<li>
									<a href="# ">大东区二手房</a>
								</li>

								<li>
									<a href="# ">于洪区二手房</a>
								</li>

								<li>
									<a href="# ">皇姑区二手房</a>
								</li>

								<li>
									<a href="# ">和平区二手房</a>
								</li>

								<li>
									<a href="# ">沈河区二手房</a>
								</li>

								<li>
									<a href="# ">沈北新区二手房</a>
								</li>

								<li>
									<a href="# ">经济开发区二手房</a>
								</li>

								<li>
									<a href="# ">苏家屯二手房</a>
								</li>

								<li>
									<a href="# ">辽中二手房</a>
								</li>

							</ul>
						</div>

					</div>
					<div class="b-c f-r ">
						<div class="b-c-t "><b>真房源，假一罚百，我承诺，我做到</b><span>服务热线  还没有电话</span></div>
						<div class="erweima "></div>
					</div>
				</div>
			</div>

			<div class="footerbox clearfix ">
				<div class="f-c f-l ">
					<div class="f-c-link ">
						<a rel="nofollow " title="关于我们 " href="https://www.yqgs.cn/Aboutus/ " target="_top ">关于我们</a>-
						<a rel="nofollow " title="联系我们 " href="https://www.yqgs.cn/Contact/ " target="_top ">联系我们</a>-
						<a title="海贼王 " href="# " target="_top ">店铺名录</a>-
						<a rel="nofollow " title="组织架构 " href="# " target="_top ">组织架构</a>-
						<!--a rel="nofollow " title="资质荣誉 " href="/资质荣誉/ " target="_blank ">资质荣誉</a-->
						<a rel="nofollow " title="隐私保护 " href="# " target="_top ">隐私保护</a>-
						<a title="网站地图 " href="# " target="_top ">还没地图</a>
					</div>
					<div class="f-c-t ">
						ICP:辽B2-20150153-1&nbsp;&nbsp;Copyright © 2003-2018&nbsp;&nbsp;辽宁渔樵网络股份有限公司, All&nbsp;&nbsp;Rights&nbsp;&nbsp;Reserved.&nbsp;&nbsp;E-mail:master@yqgs.cn
					</div>
					<span class="clearfix " style="display: inline-block; ">
    <a target="_top " href="# " style="display: inline-block; text-decoration: none; "><img src="../img/gonganbeianimg.png " style="float: left; "><i style="float: left; margin: 0px 0px 0px 5px; color: rgb(147, 147, 147); font-size: 12px; line-height: 20px; display: inline-block; font-style: normal; ">辽公网安备 还没有号</i></a>
</span>
				</div>
				<div class="f-o f-r ">

					<a href="# " target="_top ">
						<img alt="网络经济主体信息 " dragover="true " src="../img/dianzigongshangbiaoshi-logo.png " onerror="this.src='https://g.yqgscdn.com/images/none.png' " border="0 "></a>

				</div>
			</div>

		</div>

		<!--底部 end-->

</html>