/* ::::: https://g.yuqiaocdn.com/www517cn/css/main-sn201401-2.css?V=1 ::::: */


.mapmenu-btn { position: absolute; top: 34px; right: 0px; border: 1px solid rgb(204, 204, 204); padding: 10px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3); width: 260px; display: none; z-index: 100; }
.mapmenu-btn h1 a, .mapmenu-btn h2 a { display: block; line-height: 30px; font-size: 14px; color: rgb(68, 151, 87); border-bottom: 1px dotted rgb(238, 238, 238); }
.mapmenu-btn ul { display: block; }
.mapmenu-btn ul li { display: inline; }
.mapmenu-btn ul li a { color: rgb(102, 102, 102); }
.mapmenu-btn ul li a:hover { color: rgb(51, 51, 51); text-decoration: underline; }

.t-search-wrapper, .topSearchFloat { border-top: 1px solid rgb(219, 219, 219); }
.t-search-wrapper { width: 1100px; margin: 0px auto; border: medium none; }


.chooseblock-A { position: relative; z-index: 10; }
.chooseblock-E { height: 44px; }

.tabcontent2 { border: 1px solid rgb(221, 221, 221); background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin: 1px 0px 0px; }
.tabcontent2 .layout { padding: 10px; height: 185px; overflow: hidden; }
.searchtjmore { width: 1100px; margin: 0px auto; text-align: center; }
.searchtjmore a { display: inline-block; padding: 10px 30px; font-size: 12px; color: rgb(153, 153, 153); border-width: medium 1px 1px; border-style: none solid solid; border-color: currentcolor rgb(238, 238, 238) rgb(238, 238, 238); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 0px 0px 3px 3px; }
.searchtjmore a:hover { color: #C30D23; }
.searchnot { width: 898px; height: 42px; padding: 25px 0px 0px 58px; border: 1px solid rgb(248, 216, 181); background: rgb(254, 254, 226) url('../../img/yell_gan.jpg') no-repeat scroll 21px 23px; margin: 20px auto; }
.searchnot p { font-size: 16px; }
.R-H-T-List { width: 220px; overflow: hidden; margin: 0px 0px 10px; }
.page-sizebox-960 { height: 30px; margin: 10px auto 30px; width: 1100px; text-align: left; }
.pagesizebox { width: auto; }
.pageinfo { float: left; }
.pageinfo p { line-height: 30px; }
.pagebtn { float: right; height: 30px; }
.pagebtn a, .pagebtn span { display: inline-block; float: left; border: 1px solid rgb(238, 238, 238); height: 28px; line-height: 28px; padding: 0px 12px; margin: 0px 2px; }
.pagebtn span { border: medium none; padding: 1px 13px; }
.c-e-j-px { width: 400px; }
.J-lbox-l { width: 820px; float: left; }
.J-box-I { padding: 17px 0px; border-bottom: 1px solid rgb(238, 238, 238); position: relative; z-index: 1; }
.j-photo { width: 100px; float: left; margin: 0px 20px 0px 0px; position: relative; }
.j-photo a { display: block; }
.j-photo a img { width: 100px; height: 143px; }
.j-photo .jyhicon { display: inline-block; background: rgba(0, 0, 0, 0) url('../../img/touxiangrightdownlogo.gif') no-repeat scroll 0px 0px / 40px 40px; width: 36px; height: 36px; position: absolute; bottom: 0px; right: 0px; }
.j-inofbox { float: left; height: 143px; width: 690px; }
.j-j-info ul li { float: left; display: inline-block; }
.j-j-info ul li span { display: block; color: rgb(153, 153, 153); }
.j-j-info ul li.j-name { width: 140px; }
.j-j-info ul li.j-store { width: 220px; }
.j-j-info ul li.j-lvbox { width: 226px; }
.j-j-info ul li.j-telphone { width: 238px; margin: 13px 0px 0px; }
.j-j-info ul li.j-telphone span { display: inline-block; padding: 0px; border-radius: 3px; }
.j-j-info ul li.j-tishi { margin: 40px 0px 0px; color: rgb(153, 153, 153); }
.j-j-info ul li .j-n-w a, .j-j-info ul li .j-s-w a { font-size: 18px; color: rgb(51, 51, 51); display: inline-block; margin: 10px 0px 0px; }
.j-j-info ul li .j-lv { margin: 18px 0px 0px; width: 100px; height: 12px; background: rgba(0, 0, 0, 0) url('../../img/dengji.png') no-repeat scroll 0px -16px; position: relative; float: left; }
.j-j-info ul li .j-lv .j-lv-jd { width: 77px; height: 12px; background: rgba(0, 0, 0, 0) url('../../img/dengji.png') no-repeat scroll 0px -28px; }
.j-j-info ul li .j-lv .j-lv-tishi { width: 32px; height: 16px; background: rgba(0, 0, 0, 0) url('../../img/dengji.png') no-repeat scroll 0px 0px; position: absolute; top: -16px; left: 61px; text-align: center; line-height: 14px; color: rgb(255, 255, 255); }
.j-j-info ul li .j-lv-help { width: 16px; height: 16px; background: rgba(0, 0, 0, 0) url('../../img/icon_all_home.png') no-repeat scroll -271px -110px; float: left; cursor: pointer; position: relative; margin: 17px 0px 0px 5px; }
.j-j-info ul li .j-lv-help a { display: block; height: 16px; width: 16px; text-decoration: none; cursor: pointer; }
.j-j-info ul li .j-lv-help a span { display: none; }
.j-j-info ul li .j-lv-help a:hover span { display: block; width: 140px; height: auto; border: 1px solid rgb(234, 202, 160); background: rgb(253, 246, 227) none repeat scroll 0% 0%; padding: 8px; color: rgb(102, 102, 102); border-radius: 3px; position: absolute; right: 0px; bottom: 0px; z-index: 3; cursor: pointer; }
.j-j-info ul li .j-tel { font-size: 20px; color: rgb(51, 51, 51); margin: 5px 0px 0px; }
.j-j-info ul li .j-tel i { display: inline-block; width: 19px; height: 19px; background: rgba(0, 0, 0, 0) url('../../img/icon_all_home.png') no-repeat scroll -22px -72px; vertical-align: middle; margin: 0px 10px 0px 0px; font-family: Tahoma,Geneva,sans-serif; }
.j-j-o-info { margin: 18px 0px 0px; }
.j-s-btn, .j-s-m-btn { float: left; margin: 0px 20px 0px 0px; }
.j-s-btn i, .j-s-m-btn i { display: inline-block; vertical-align: middle; width: 16px; height: 16px; margin: -3px 5px 0px 0px; background: rgba(0, 0, 0, 0) url('../../img/icon_all_home.png') no-repeat scroll -254px -110px; }
.j-s-btn a, .j-s-m-btn a { font-size: 14px; }
.j-s-m-btn {  }
.j-s-m-btn i { background: rgba(0, 0, 0, 0) url('../../img/icon_all_home.png') no-repeat scroll -122px -110px; width: 13px; height: 16px; }
.j-cj span { font-size: 14px; padding: 0px 0px 0px 20px; }
.j-cj span em { font-size: 14px; padding: 0px 5px; color: rgb(255, 119, 68); }
.j-qm-url { margin: 20px 0px 0px; display: none; }
.j-qmb { width: 525px; font-size: 14px; line-height: 20px; float: left; }
.j-urlb { float: left; position: relative; font-size: 14px; padding: 0px 20px 0px 0px; }
.j-urlb a { font-size: 14px; font-family: Tahoma,Geneva,sans-serif; height: 17px; overflow: hidden; }
.j-urlb .j-share { position: absolute; top: 0px; right: 0px; display: block; width: 16px; height: 16px; background: rgba(0, 0, 0, 0) url('../../img/icon_all_home.png') no-repeat scroll -33px -136px; }
.j-urlb .j-share a { display: block; cursor: pointer; width: 16px; height: 16px; }
.J-lbox-r { width: 260px; float: right; }
.oth-list-content { border: 1px solid rgb(234, 234, 234); margin-bottom: 20px; overflow: hidden; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.oth-list-content h3 { height: 38px; position: relative; padding: 0px 0px 0px 10px; line-height: 38px; font-size: 14px; font-weight: bold; background: #C30D23 none repeat scroll 0% 0%; 
	color: rgb(255,255,255);
}
.guwen-paiming dt, .guwen-paiming dd { display: block; border-bottom: 1px solid rgb(234, 234, 234); padding: 8px 0px; margin-bottom: -1px; }
.guwen-paiming dt span, .guwen-paiming dd span { display: inline-block; width: 20%; font-weight: bold; }
.guwen-paiming dd span { font-weight: normal; }
.guwen-paiming dd span a { color: #C30D23; }
.guwen-paiming dt span.guwen-paiming-1, .guwen-paiming dd span.guwen-paiming-1 { width: 20%; text-align: center; }
.guwen-paiming dd span.guwen-paiming-1 i { display: inline-block; line-height: 20px; width: 20px; background: rgb(234, 234, 234) none repeat scroll 0% 0%; border-radius: 20px; font-size: 11px; }
.guwen-paiming dd span.guwen-paiming-1 i.gw-no1 { background: rgb(255, 64, 0) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.guwen-paiming dd span.guwen-paiming-1 i.gw-no2 { background: rgb(224, 0, 0) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.guwen-paiming dd span.guwen-paiming-1 i.gw-no3 { background: rgb(202, 0, 0) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.guwen-paiming dt span.guwen-pm-2, .guwen-paiming dd span.guwen-pm-2 { width: 20%; }
.guwen-paiming dt span.guwen-pm-3, .guwen-paiming dd span.guwen-pm-3 { width: 40%; }
.slides::after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0px; }
.xf-o-info::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.xf-quanjingliebiao ul::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
dl.clearfix::after { clear: both; content: "."; display: block; font-size: 0px; height: 0px; }
ul, ol, li { list-style: outside none none; }
.closewinbtn { position: absolute; top: -10px; right: -10px; display: block; font-size: 14px; font-weight: bold; cursor: pointer; font-family: Verdana,Geneva,sans-serif; width: 30px; height: 30px; line-height: 30px; text-align: center; border-radius: 50px; background: rgb(221, 221, 221) none repeat scroll 0% 0%; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7); }
.closewinbtn:hover { color: rgb(255, 102, 51); text-decoration: none; }
.jubaobox { width: 260px; position: absolute; top: 30%; left: 50%; margin: 0px 0px 0px -150px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; z-index: 99991; border: 3px solid rgb(228, 228, 228); padding: 10px 20px 20px; }
.jubaobox h2 { font-size: 14px; border-bottom: 1px dotted rgb(228, 228, 228); margin: 0px 0px 10px; padding: 0px 0px 2px; line-height: 30px; }
.jubaocontent textarea { width: 248px; border: 1px solid rgb(228, 228, 228); border-radius: 2px; padding: 6px; height: 80px; }
.jubao-p-n {  }
.jubao-p-n p { padding: 10px 0px 0px; color: rgb(153, 153, 153); }
.jubao-p-n .jubaotext, .jubao-p-n .jubaotext_on { width: 248px; border: 1px solid rgb(228, 228, 228); border-radius: 2px; padding: 6px; color: rgb(153, 153, 153); }
.jubao-p-n .jubaobtn { background: rgb(51, 204, 153) none repeat scroll 0% 0%; color: rgb(255, 255, 255); overflow: visible; padding: 6px 30px; border: medium none; margin: 10px 0px 0px 90px; cursor: pointer; }
#pop-compare { display: none; position: fixed; bottom: -200px; right: 50%; margin-right: -550px; z-index: 100; width: 1100px; height: 139px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; box-shadow: 0px 0px 15px rgba(221, 221, 221, 0.8); }
#pop-compare .tab-con { border-width: medium 1px 1px; border-style: none solid solid; border-color: currentcolor #C30D23 #C30D23; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
#pop-compare .pop-wrap { position: absolute; left: 0px; top: 0px; width: 1100px; }
#goto-contrast:hover { text-decoration: none; }
#goto-contrast { display: block; width: 59px; height: 30px; font: 700 14px/30px verdana; margin-left: 13px; margin-bottom: 11px; border-radius: 3px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(221, 221, 221); color: rgb(204, 204, 204); cursor: default; }
#goto-contrast.compare-active { border: medium none; color: rgb(255, 255, 255); background-color: rgb(231, 70, 73); background-image: linear-gradient(to bottom, rgb(231, 70, 73) 0px, rgb(223, 48, 51) 100%); cursor: pointer; }
.btn-compare:hover, .del-comp-item:hover, .del-items:hover { cursor: pointer; }
#pop-compare .pop-inner { height: 133px; }
#pop-compare .diff-hd .tab-btns { height: 32px; border-width: 1px; border-style: solid; border-color: rgb(221, 221, 221) rgb(221, 221, 221) #C30D23; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
#pop-compare .tab-btns a { color: rgb(102, 102, 102); line-height: 30px; }
#pop-compare .diff-hd { position: relative; }
#pop-compare .tab-btns .current { position: relative; left: -1px; margin-top: -4px; height: 36px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-width: 1px 1px 0px; border-style: solid solid none; border-color: #C30D23 #C30D23 currentcolor; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
#pop-compare .tab-btns .current a { color: #C30D23; line-height: 30px; }
#pop-compare .tab-btns .current a:hover { text-decoration: none; }
#pop-compare .diff-hd .operate { width: 190px; text-align: right; position: absolute; right: 0px; top: 0px; padding-right: 22px; height: 30px; line-height: 30px; clear: both; }
#pop-compare .diff-hd li { float: left; position: relative; width: 80px; height: 30px; text-align: center; font: 14px/30px "microsoft yahei"; }
#pop-compare div.diff-items { padding: 6px; color: rgb(204, 204, 204); height: 90px; overflow: hidden; }
#pop-compare .diff-bd { position: relative; }
#pop-compare .diff-operate { position: absolute; right: 8px; top: 22px; width: 85px; text-align: center; }
a.compare-active { background-position: 0px -92px; color: rgb(51, 51, 51); cursor: pointer; }
.pop-compare-tips { display: none; height: 27px; margin-top: -29px; line-height: 27px; border: 1px solid rgb(219, 154, 154); color: rgb(204, 0, 0); text-align: center; background: rgb(255, 232, 232) none repeat scroll 0% 0%; }
#pop-compare .hide-me, .diff-operate a { color: rgb(0, 90, 160); line-height: 30px; }
.lilvtable table tbody tr:nth-child(2n+1) { background: rgb(244, 244, 244) none repeat scroll 0% 0%; }
#pageflip { right: 0px; float: right; position: relative; top: 0px; z-index: 9999; display: none; }
#pageflip img { z-index: 99; right: 0px; width: 50px; position: absolute; top: 0px; height: 52px; }
#pageflip .msg_block { right: 0px; background: rgba(0, 0, 0, 0) url('subscribe.png') no-repeat scroll right top; overflow: hidden; width: 50px; position: absolute; top: 0px; height: 50px; }
.floatleftadimg { position: fixed; bottom: 10px; left: 10px; width: 120px; height: 120px; z-index: 99999; display: none; }
.xf-infostore::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }

.house-near-map .name::before { content: ""; width: 18px; height: 12px; background: rgb(81, 132, 249) none repeat scroll 0% 0%; position: absolute; bottom: 1px; left: 40%; z-index: 2; }
.house-near-map .name::after { content: ""; width: 10px; height: 10px; background: rgb(81, 132, 249) none repeat scroll 0% 0%; border-radius: 50%; border: 3px solid rgb(255, 255, 255); position: absolute; bottom: -24px; left: 50%; margin-left: -7px; }
.near-map-box .one-level-tab li.selectTag::before { content: ""; width: 100%; height: 2px; background: rgb(42, 134, 239) none repeat scroll 0% 0%; position: absolute; top: 0px; left: 0px; }
.near-map-box .itemBox li .contentActive [class*="icon-"]::before { color: rgb(42, 134, 239); }
.map-content-box .itemContent [class*="icon-"]::before, .makerDetailStyle .itemContent [class*="icon-"]::before { display: inline-block; margin: 2px 10px 2px 2px; font-size: 16px; font-weight: 500; }
.makerDetailStyle::before { content: ""; width: 20px; height: 12px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: absolute; bottom: 1px; left: 46%; z-index: 2; }
.makerDetailStyle .itemInfo::before { content: "线路:"; padding-right: 8px; }
/* ::::: https://g.yuqiaocdn.com/mis/css/lib.css?V=1?V=1 ::::: */

#colorbox, #cboxOverlay, #cboxWrapper { position: absolute; top: 0px; left: 0px; z-index: 9999; overflow: hidden; }
#cboxOverlay { position: fixed; width: 100%; height: 100%; background: rgba(0, 0, 0, 0) url('../../img/overlay.png') repeat scroll 0px 0px; }
#cboxMiddleLeft, #cboxBottomLeft { clear: left; }
#cboxContent { position: relative; background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: hidden; }
#cboxTitle { position: absolute; bottom: 4px; left: 0px; text-align: center; width: 100%; color: rgb(148, 148, 148); margin: 0px; }
#cboxLoadingOverlay, #cboxLoadingGraphic { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow { cursor: pointer; }
#colorbox, #cboxContent, #cboxLoadedContent { box-sizing: content-box; }
#cboxTopLeft { width: 21px; height: 21px; background: rgba(0, 0, 0, 0) url('controls.png') no-repeat scroll -101px 0px; }
#cboxTopRight { width: 21px; height: 21px; background: rgba(0, 0, 0, 0) url('controls.png') no-repeat scroll -130px 0px; }
#cboxBottomLeft { width: 21px; height: 21px; background: rgba(0, 0, 0, 0) url('controls.png') no-repeat scroll -101px -29px; }
#cboxBottomRight { width: 21px; height: 21px; background: rgba(0, 0, 0, 0) url('controls.png') no-repeat scroll -130px -29px; }
#cboxMiddleLeft { width: 21px; background: rgba(0, 0, 0, 0) url('controls.png') repeat-y scroll left top; }
#cboxMiddleRight { width: 21px; background: rgba(0, 0, 0, 0) url('controls.png') repeat-y scroll right top; }
#cboxTopCenter { height: 21px; background: rgba(0, 0, 0, 0) url('border.png') repeat-x scroll 0px 0px; }
#cboxBottomCenter { height: 21px; background: rgba(0, 0, 0, 0) url('border.png') repeat-x scroll 0px -29px; }
#cboxCurrent { position: absolute; bottom: 4px; left: 58px; color: rgb(148, 148, 148); }
#cboxLoadingOverlay { background: rgba(0, 0, 0, 0) url('loading_background.png') no-repeat scroll center center; }
#cboxLoadingGraphic { background: rgba(0, 0, 0, 0) url('loading.gif') no-repeat scroll center center; }
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose { border: 0px none; overflow: visible; width: auto; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; margin: 0px; padding: 0px; }
#cboxSlideshow { position: absolute; bottom: 4px; right: 30px; color: rgb(0, 146, 239); }
#cboxPrevious { position: absolute; bottom: 0px; left: 0px; background: rgba(0, 0, 0, 0) url('controls.png') no-repeat scroll -75px 0px; width: 25px; height: 25px; text-indent: -9999px; }
#cboxPrevious:hover { background-position: -75px -25px; }
#cboxNext { position: absolute; bottom: 0px; left: 27px; background: rgba(0, 0, 0, 0) url('controls.png') no-repeat scroll -50px 0px; width: 25px; height: 25px; text-indent: -9999px; }
#cboxNext:hover { background-position: -50px -25px; }
#colorbox, #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active { outline: 0px none; }
.qtip:not(.ie9haxors) div.qtip-content, .qtip:not(.ie9haxors) div.qtip-titlebar { filter: none; }
.clearfix::after { clear: both; }
.clearfix::before, .clearfix::after { content: "."; display: block; height: 0px; visibility: hidden; }
.qzone_cards .cards_abstract::after { display: block; clear: both; content: ""; }
.introjs-button::-moz-focus-inner { padding: 0px; border: 0px none; }
/* ::::: https://www.yuqiao.cn/website/Scripts/layer/skin/default/layer.css?v=3.0.2302 ::::: */

.mp_tooltip2 { cursor: pointer; line-height: 19px; }
