/* ::::: https://g.517cdn.com/www517cn/css/main-sn201401-2.css ::::: */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; font-size: 100%; vertical-align: baseline; background: transparent none repeat scroll 0% 0%; color: rgb(102, 102, 102); line-height: 120%; }
@font-face {
  font-family: "iconfont";  src: url('iconfont.eot') format("embedded-opentype"), url('iconfont.woff') format("woff"), url('iconfont.ttf') format("truetype"), url('iconfont.svg') format("svg");}
body { min-width: 1100px; }
body, input, textarea, select { font: 12px/20px "Microsoft Yahei","黑体",Tahoma,Arial,SimSun,Helvetica,sans-serif; }
html, body { -moz-text-size-adjust: none; }
html { overflow-y: scroll; }
ol, ul { list-style: outside none none; }
a { color: rgb(102, 102, 102); text-decoration: none; outline: medium none; }
a:hover { color: rgb(0, 145, 67); text-decoration: none; }
.clearfix::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
.clearfix { display: block; }
h1, h2, h3, h4, h5, h6 { font-size: inherit; font-weight: normal; font-family: "Microsoft Yahei","黑体"; }
address, cite, code, em, th, i { font-weight: normal; font-style: normal; }
.f-l { float: left; }
.f-r { float: right; }
*::-moz-selection { background-color: rgba(13, 173, 81, 0.2); color: rgb(51, 51, 51); }
.topbox { background: rgba(0, 0, 0, 0) url('topboxbg.jpg') repeat-x scroll 0% 0%; height: 50px; }
.topnav { width: 1100px; margin: 0px auto; height: 50px; }
.topnav h1 a { display: inline-block; width: 105px; height: 50px; background: rgba(0, 0, 0, 0) url('logo.png') no-repeat scroll 0% 0%; }
.main-menu { height: 50px; padding: 0px 0px 0px 20px; }
.main-menu ul { display: block; }
.main-menu ul li { display: inline-block; float: left; position: relative; z-index: 19; }
.main-menu ul li a { display: inline-block; font-size: 14px; color: rgb(255, 255, 255); line-height: 50px; padding: 0px 12px; }
.main-menu ul li a:hover { background: rgb(0, 132, 61) none repeat scroll 0% 0%; text-decoration: none; box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2) inset; }
.main-m-2j { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 3px; box-shadow: 0px 3px 6px rgb(221, 221, 221); padding: 10px 0px; width: 100px; position: absolute; top: 50px; left: 50%; z-index: 99; margin-left: -55px; transition: all 0.25s linear 0s; display: none; }
.main-menu ul li:hover div.main-m-2j { display: block; }
.main-m-2j i { position: absolute; z-index: 10; left: 50%; margin: 0px 0px 0px -3px; top: -6px; border-color: transparent transparent rgb(255, 255, 255); border-style: dashed dashed solid; border-width: 0px 6px 6px; font-size: 0px; height: 0px; width: 0px; line-height: 0; }
.main-m-2j span { height: 30px; line-height: 30px; display: block; text-align: center; }
.main-menu ul li .main-m-2j span a { display: inline-block; font-size: 14px; font-weight: normal; line-height: 30px; padding: 0px 15px; margin: 0px; color: rgb(102, 102, 102); }
.main-menu ul li .main-m-2j span a:hover { background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; box-shadow: none; color: rgb(0, 145, 67); }
.main-menu ul li .main-m-2j span.m-m-2j-btn a { background: rgb(0, 145, 67) none repeat scroll 0% 0%; color: rgb(255, 255, 255); border-radius: 3px; font-size: 14px; line-height: 30px; }
.loginbox { line-height: 50px; position: relative; z-index: 20; }
.loginbox a { display: inline-block; color: rgb(255, 255, 255); line-height: 50px; font-size: 14px; }
.loginbox i { padding: 0px 10px; vertical-align: top; color: rgb(255, 255, 255); font-style: normal; margin: 0px; display: inline-block; line-height: 50px; }
.hearerweima { width: 320px; }
.h_erweima { width: 320px; height: 200px; background: rgba(0, 0, 0, 0) url('erweima.png') no-repeat scroll 0% 0%; margin: 0px auto; }
.hearerweima i { left: 17%; }
.b-link { background: rgb(80, 80, 80) none repeat scroll 0% 0%; margin: 0px auto; padding: 30px 0px; }
.bottomlinks { width: 1100px; margin: 0px auto; overflow: hidden; }
.b-l { float: left; width: 680px; }
.b-pub1 { padding: 0px 0px 20px; }
.b-pub1-t { font-size: 18px; padding: 0px 0px 10px; color: rgb(153, 153, 153); }
.b-pub1-t span { color: rgb(190, 190, 190); font-weight: normal; }
.b-pub1-t span b { padding: 0px 10px 0px 0px; color: rgb(238, 238, 238); font-weight: normal; }
.b-pub1 ul li { display: inline; padding: 0px 10px 0px 0px; }
.b-pub1 ul li a { font-size: 12px; line-height: 20px; color: rgb(169, 169, 169); display: inline-block; }
.b-zm { height: 20px; line-height: 20px; }
.b-zm span, .b-zm a { font-size: 12px; padding: 0px 10px 0px 0px; }
.b-c { width: 320px; text-align: center; }
.b-c-t b { font-size: 14px; font-weight: normal; color: rgb(238, 238, 238); display: block; }
.b-c-t span { display: block; font-size: 20px; color: rgb(238, 238, 238); font-weight: normal; }
.erweima { width: 320px; height: 180px; background: rgba(0, 0, 0, 0) url('erweima.png') no-repeat scroll 0% 0%; margin: 0px auto; }
.footerbox { width: 1100px; margin: 0px auto; padding: 20px 0px; }
.f-c-link { color: rgb(153, 153, 153); margin: 0px 0px 6px; }
.f-c-link a { font-size: 12px; padding: 0px 5px; color: rgb(153, 153, 153); }
.f-c-t { font-size: 12px; color: rgb(153, 153, 153); margin: 0px 0px 6px; padding: 0px 5px; }
.path-nav, .H-Lbox, .J-Lbox, .jjr-house-info, .storewidthbox { width: 1100px; margin: 0px auto; padding: 20px 0px; position: relative; }
.path-nav { color: rgb(153, 153, 153); }
.path-nav a { color: rgb(102, 102, 102); }
.path-nav a:hover { text-decoration: underline; }
.mainwrapper { border-top: 1px solid rgb(219, 219, 219); }
.wrapperbox, .login-reg-wrapper { width: 1100px; overflow: hidden; margin: 0px auto; }
.slides::after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0px; }
.xf-o-info::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.xf-quanjingliebiao ul::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
dl.clearfix::after { clear: both; content: "."; display: block; font-size: 0px; height: 0px; }
ul, ol, li { list-style: outside none none; }
.about-left-page { position: relative; width: 189px; }
.about-top-t { font-size: 24px; text-align: center; padding: 20px 0px; color: rgb(0, 133, 49); border-bottom: 1px solid rgb(234, 234, 234); }
.jsq-content { margin: 1px 0px 0px; padding: 10px 0px; width: auto; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: relative; }
.jsq-nav { border-bottom: 1px solid rgb(238, 238, 238); }
.jsq-nav ul li { display: inline-block; }
.jsq-nav ul li a { display: inline-block; font-size: 16px; text-align: center; color: rgb(153, 153, 153); padding: 10px 39px; }
.jsq-nav ul li a i { display: inline-block; width: 20px; height: 20px; overflow: hidden; background: rgba(0, 0, 0, 0) url('jsqicon.png') no-repeat scroll 0% 0%; vertical-align: middle; margin: 0px 10px 0px 0px; }
.jsq-nav ul li a:hover, .jsq-nav ul li.jsq-menu-off a { color: rgb(51, 51, 51); }
.jsq-nav ul li a i.dkhk-j { background-position: 0px 0px; }
.jsq-nav ul li a i.gfzh-j { background-position: -20px 0px; }
.jsq-nav ul li a i.tqhk-j { background-position: -41px 0px; }
.jsq-nav ul li a i.gfnl-j { background-position: -61px 0px; }
.jsq-nav ul li a:hover i.dkhk-j { background-position: 0px -20px; }
.jsq-nav ul li a:hover i.gfzh-j { background-position: -20px -20px; }
.jsq-nav ul li a:hover i.tqhk-j { background-position: -41px -20px; }
.jsq-nav ul li a:hover i.gfnl-j { background-position: -61px -20px; }
.jsq-nav ul li.jsq-menu-off { border-bottom: 3px solid rgb(0, 145, 67); }
.jsq-nav ul li.jsq-menu-off a i.gfzh-j { background-position: -20px -20px; }
.jsq-text, .jsq-jieguo { padding: 0px; margin: 0px 20px 0px 0px; float: left; width: 450px; }
.jsq-jieguo { border: 0px none; width: 310px; margin: 0px; }
.jsq-text h2, .jsq-jieguo h2 { font-weight: bold; color: rgb(123, 178, 138); line-height: 30px; margin-bottom: 10px; }
table.dkhk-text tr td { padding: 10px 5px; border-bottom: 1px dotted rgb(234, 234, 234); }
table.dkhk-text tr td input { vertical-align: middle; }
table.dkhk-text tr td div p input.jsqText, table.dkhk-text tr td input.jsqText { width: 100px; border: 1px solid rgb(153, 153, 153); padding: 2px 3px; color: rgb(102, 102, 102); box-shadow: 1px 1px 1px rgb(238, 238, 238) inset; border-radius: 2px; margin-right: 5px; }
table.dkhk-text tr td select, table.dkhk-text tr td div p select { font-size: 14px; color: rgb(102, 102, 102); padding: 2px 3px; border: 1px solid rgb(153, 153, 153); border-radius: 2px; }
table.dkhk-text tr td input.btn_jsq { padding: 0px 10px; border: 1px solid rgb(228, 228, 228); height: 36px; color: rgb(0, 145, 67); background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 2px; display: inline-block; font-size: 14px; margin: 20px 0px 0px; cursor: pointer; overflow: visible; }
table.dkhk-text tr td input.btn_jsq:hover { background: rgb(0, 145, 67) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.jsq-jieguo ul li { display: block; border-bottom: 1px dotted rgb(234, 234, 234); padding: 15px 10px; }
.jsq-jieguo p { color: rgb(204, 204, 204); line-height: 30px; text-align: right; }

table.dkhk-text tr.jsqbtn td, table.dkhk-text tr.red td { border: 0px none; }
table.dkhk-text tr.red td { line-height: 20px; color: rgb(255, 51, 0); }
.jsq-zhjsq { width: 200px; }
.jsq-zhjsq ul li { padding: 10px; }
.dk-left-page { position: relative; width: 180px; }
.dk-right-page { width: 880px; margin: 0px; border: medium none; }
.dk-right-page h2 { height: auto; line-height: normal; font-size: 16px; border-bottom: 1px solid rgb(234, 234, 234); position: relative; padding: 10px 0px 15px; font-weight: normal; color: rgb(51, 51, 51); z-index: 0; margin: 0px 0px 30px; }
.dk-l-p-menubox { margin: 0px 0px 20px; }
.dk-top-t { padding: 10px 0px 15px; font-size: 16px; color: rgb(0, 145, 67); text-align: left; margin: 0px 0px 10px; border-bottom: 1px solid rgb(234, 234, 234); }
.dk-nav-l { padding: 0px; }
.dk-nav-l ul { background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; }
.dk-nav-l ul li { display: block; list-style: outside none decimal; }
.dk-nav-l ul li a { display: block; font-size: 14px; padding: 15px 0px; position: relative; }
.dk-nav-l ul li a:hover { text-decoration: none; background: rgb(250, 250, 250) none repeat scroll 0% 0%; }
.goufangxuzhibox { padding: 30px 0px 100px; }
.lilvtable table tbody tr:nth-child(2n+1) { background: rgb(244, 244, 244) none repeat scroll 0% 0%; }
.xf-infostore::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
@media screen and (max-width: 480px) {
  body { width: 100%; min-width: 100%; }
  .topbox, .r-float, #ZY_Foot, .floatleftadimg { display: none; }
  .showtime-img { width: auto; margin: 0px 0px 10px; }
  .showtime-img a { width: auto; height: auto; }
  .showtime-img a img { width: 100%; }
  .width960 { width: auto; margin: 0px 10px; }
  .to-menu { height: auto; }
  .to-menu::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
  .to-menu ul li { height: 50px; width: 33.3%; background: rgb(241, 241, 241) none repeat scroll 0% 0%; position: inherit; float: left; }
  .to-menu ul li span { font-size: 12px; line-height: 25px; padding: 0px 2%; }
  .to-menu ul li span.to-ment-ing { background: rgb(51, 204, 153) none repeat scroll 0% 0%; width: auto; height: auto; }
  .to-menu ul li.to-menu-3 span { line-height: 50px; }
  .to-tishi { border-radius: 3px; margin: 10px 0px; }
  .FormTab div input[type="text"] { width: 50%; }
  .FormTab div span.cilianxiang { float: none; }
  .area1 { width: 100%; border: 1px solid rgb(204, 204, 204); box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1) inset; }
  .FormTab div ul { float: none; }
  .FormTab div ul li { float: none; display: inline-block; }
  .FormTab div.btn h3 { display: none; }
  .FormTab div.btn ul li { display: block; text-align: center; }
  .mui-mbar-tabs { display: none; }
  .t-search-wrapper, .newsNavBox, .path-nav, .rightside, .n-keyword, .n-tjlist, .n-share { display: none; }
  .newsListBox { width: auto; margin: 0px auto; overflow: hidden; }
  .n-Content { width: auto; margin: 0px; float: none; padding: 10px; }
  .n-content-s p img { width: 100% !important; height: auto !important; }
  .n-info span:nth-child(3) { display: none; }
  .n-list { width: auto; margin: 0px; float: none; }
  .n-l-box { padding: 0px 10px; }
  .n-listTitle { padding: 10px 0px; border-bottom: 2px solid rgb(51, 204, 153); margin: 0px; }
  .n-l-s1 p { line-height: 20px; height: 60px; }
  .n-l-s1 p a img { width: 110px; height: auto; }
  .pagesizebox-news { width: auto; margin: 20px 0px 10px; padding: 0px 10px; }
  .pagebtn { float: none; height: auto; }
  .pagebtn a, .pagebtn span { display: inline-block; float: none; border: 1px solid rgb(238, 238, 238); height: 28px; line-height: 28px; padding: 0px 12px; margin: 0px 2px 10px; }
}
.jsqbox { font-size: 14px; position: relative; z-index: 0; }
.house-near-map .name::before { content: ""; width: 18px; height: 12px; background: rgb(81, 132, 249) none repeat scroll 0% 0%; position: absolute; bottom: 1px; left: 40%; z-index: 2; }
.house-near-map .name::after { content: ""; width: 10px; height: 10px; background: rgb(81, 132, 249) none repeat scroll 0% 0%; border-radius: 50%; border: 3px solid rgb(255, 255, 255); position: absolute; bottom: -24px; left: 50%; margin-left: -7px; }
.near-map-box .one-level-tab li.selectTag::before { content: ""; width: 100%; height: 2px; background: rgb(42, 134, 239) none repeat scroll 0% 0%; position: absolute; top: 0px; left: 0px; }
.near-map-box .itemBox li .contentActive [class*="icon-"]::before { color: rgb(42, 134, 239); }
.map-content-box .itemContent [class*="icon-"]::before, .makerDetailStyle .itemContent [class*="icon-"]::before { display: inline-block; margin: 2px 10px 2px 2px; font-size: 16px; font-weight: 500; }
.makerDetailStyle::before { content: ""; width: 20px; height: 12px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: absolute; bottom: 1px; left: 46%; z-index: 2; }
.makerDetailStyle .itemInfo::before { content: "线路:"; padding-right: 8px; }
.jsq-jieguo ul li { border-bottom: 0px none; }
/* ::::: https://g.517cdn.com/mis/css/lib.css ::::: */

#colorbox, #cboxOverlay, #cboxWrapper { position: absolute; top: 0px; left: 0px; z-index: 9999; overflow: hidden; }
#cboxOverlay { position: fixed; width: 100%; height: 100%; background: rgba(0, 0, 0, 0) url('overlay.png') repeat scroll 0px 0px; }
#cboxMiddleLeft, #cboxBottomLeft { clear: left; }
#cboxContent { position: relative; background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: hidden; }
#cboxTitle { position: absolute; bottom: 4px; left: 0px; text-align: center; width: 100%; color: rgb(148, 148, 148); margin: 0px; }
#cboxLoadingOverlay, #cboxLoadingGraphic { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow { cursor: pointer; }
#colorbox, #cboxContent, #cboxLoadedContent { box-sizing: content-box; }
#cboxTopLeft { width: 21px; height: 21px; background: rgba(0, 0, 0, 0) url('controls.png') no-repeat scroll -101px 0px; }
#cboxTopRight { width: 21px; height: 21px; background: rgba(0, 0, 0, 0) url('controls.png') no-repeat scroll -130px 0px; }
#cboxBottomLeft { width: 21px; height: 21px; background: rgba(0, 0, 0, 0) url('controls.png') no-repeat scroll -101px -29px; }
#cboxBottomRight { width: 21px; height: 21px; background: rgba(0, 0, 0, 0) url('controls.png') no-repeat scroll -130px -29px; }
#cboxMiddleLeft { width: 21px; background: rgba(0, 0, 0, 0) url('controls.png') repeat-y scroll left top; }
#cboxMiddleRight { width: 21px; background: rgba(0, 0, 0, 0) url('controls.png') repeat-y scroll right top; }
#cboxTopCenter { height: 21px; background: rgba(0, 0, 0, 0) url('border.png') repeat-x scroll 0px 0px; }
#cboxBottomCenter { height: 21px; background: rgba(0, 0, 0, 0) url('border.png') repeat-x scroll 0px -29px; }
#cboxCurrent { position: absolute; bottom: 4px; left: 58px; color: rgb(148, 148, 148); }
#cboxLoadingOverlay { background: rgba(0, 0, 0, 0) url('loading_background.png') no-repeat scroll center center; }
#cboxLoadingGraphic { background: rgba(0, 0, 0, 0) url('loading.gif') no-repeat scroll center center; }
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose { border: 0px none; overflow: visible; width: auto; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; margin: 0px; padding: 0px; }
#cboxSlideshow { position: absolute; bottom: 4px; right: 30px; color: rgb(0, 146, 239); }
#cboxPrevious { position: absolute; bottom: 0px; left: 0px; background: rgba(0, 0, 0, 0) url('controls.png') no-repeat scroll -75px 0px; width: 25px; height: 25px; text-indent: -9999px; }
#cboxPrevious:hover { background-position: -75px -25px; }
#cboxNext { position: absolute; bottom: 0px; left: 27px; background: rgba(0, 0, 0, 0) url('controls.png') no-repeat scroll -50px 0px; width: 25px; height: 25px; text-indent: -9999px; }
#cboxNext:hover { background-position: -50px -25px; }
#colorbox, #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active { outline: 0px none; }
.qtip:not(.ie9haxors) div.qtip-content, .qtip:not(.ie9haxors) div.qtip-titlebar { filter: none; }
.clearfix::after { clear: both; }
.clearfix::before, .clearfix::after { content: "."; display: block; height: 0px; visibility: hidden; }
.qzone_cards .cards_abstract::after { display: block; clear: both; content: ""; }
.introjs-button::-moz-focus-inner { padding: 0px; border: 0px none; }
