.lsfxlist ul li { display: block; height: 28px; overflow: hidden; }
.lsfxlist ul li a { display: inline-block; line-height: 28px; width: 180px; float: left; }
.lsfxlist ul li span { display: inline-block; line-height: 28px; color: rgb(153, 153, 153); font-size: 12px; float: right; }
