<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>底部</title>
</head>
<body>
<!--底部-->

<div class="footer">
    <div class="wrapper">
        <div class="f-title">
            <div class="fl">
                <ul>
                    <li>
                        <a href="#" target="_blank">网站地图</a>
                    </li>
                    <li>
                        <a th:href="@{/wenda/lianxi.html}" rel="nofollow" target="_blank">了解誉桥</a>
                    </li>
                </ul>
            </div>
            <div class="fr req_btn">
                官方客服咨询
            </div>
        </div>
        <div class="lianjia-link-box">
            <div class="fl">
                <div class="tab">
                    <span class="">城市二手房</span>
                    <span>热门小区</span>
                    <span class="hover">新房</span>
                    <span>百科</span>
                    <span>租房</span>
                    <span>小区</span>
                    <span>商圈房价</span>
                    <span>合作与友情链接</span>
                </div>
                <div class="link-list">
                    <div style="display: none;">
                        <dd>
                            <a target="_blank" href="#">北京二手房</a>
                            <a target="_blank" href="#">广州二手房</a>
                            <a target="_blank" href="#">深圳二手房</a>
                            <a target="_blank" href="#">天津二手房</a>
                            <a target="_blank" href="#">成都二手房</a>
                            <a target="_blank" href="#">南京二手房</a>
                            <a target="_blank" href="#">杭州二手房</a>
                            <a target="_blank" href="#">青岛二手房</a>
                            <a target="_blank" href="#">大连二手房</a>
                            <a target="_blank" href="#">厦门二手房</a>
                            <a target="_blank" href="#">武汉二手房</a>
                            <a target="_blank" href="#">重庆二手房</a>
                            <a target="_blank" href="#">长沙二手房</a>
                            <a target="_blank" href="#">济南二手房</a>
                            <a target="_blank" href="#">佛山二手房</a>
                            <a target="_blank" href="#">东莞二手房</a>
                            <a target="_blank" href="#">西安二手房</a>
                            <a target="_blank" href="#">石家庄二手房</a>
                            <a target="_blank" href="#">烟台二手房</a>
                            <a target="_blank" href="#">中山二手房</a>
                            <a target="_blank" href="#">珠海二手房</a>
                            <a target="_blank" href="#">惠州二手房</a>
                            <a target="_blank" href="#">太原二手房</a>
                            <a target="_blank" href="#">沈阳二手房</a>
                            <a target="_blank" href="#">海口二手房</a>
                            <a target="_blank" href="#">无锡二手房</a>

                        </dd>
                    </div>
                    <div style="display: none;">
                        <dd>
                            <a target="_blank" href="#">碧桂园银河城银座</a>
                            <a target="_blank" href="#">盛华苑理工园区</a>
                            <a target="_blank" href="#">新湖北国之春三期</a>
                            <a target="_blank" href="#">碧桂园银河城银座</a>
                            <a target="_blank" href="#">盛华苑理工园区</a>
                            <a target="_blank" href="#">新湖北国之春三期</a>
                            <a target="_blank" href="#">碧桂园银河城银座</a>
                            <a target="_blank" href="#">盛华苑理工园区</a>
                            <a target="_blank" href="#">新湖北国之春三期</a>
                            <a target="_blank" href="#">碧桂园银河城银座</a>
                            <a target="_blank" href="#">盛华苑理工园区</a>
                            <a target="_blank" href="#">新湖北国之春三期</a>
                            <a target="_blank" href="#">碧桂园银河城银座</a>
                            <a target="_blank" href="#">盛华苑理工园区</a>
                            <a target="_blank" href="#">新湖北国之春三期</a>

                        </dd>
                    </div>
                    <div style="display: block;">
                        <dd>
                            <a target="_blank" href="#">北京新房</a>
                            <a target="_blank" href="#">广州新房</a>
                            <a target="_blank" href="#">深圳新房</a>
                            <a target="_blank" href="#">天津新房</a>
                            <a target="_blank" href="#">成都新房</a>
                            <a target="_blank" href="#">南京新房</a>
                            <a target="_blank" href="#">杭州新房</a>
                            <a target="_blank" href="#">青岛新房</a>
                            <a target="_blank" href="#">北京新房</a>
                            <a target="_blank" href="#">广州新房</a>
                            <a target="_blank" href="#">深圳新房</a>
                            <a target="_blank" href="#">天津新房</a>
                            <a target="_blank" href="#">成都新房</a>
                            <a target="_blank" href="#">南京新房</a>
                            <a target="_blank" href="#">杭州新房</a>
                            <a target="_blank" href="#">青岛新房</a><a target="_blank" href="#">北京新房</a>
                            <a target="_blank" href="#">广州新房</a>
                            <a target="_blank" href="#">深圳新房</a>
                            <a target="_blank" href="#">天津新房</a>
                            <a target="_blank" href="#">成都新房</a>
                            <a target="_blank" href="#">南京新房</a>
                            <a target="_blank" href="#">杭州新房</a>
                            <a target="_blank" href="#">青岛新房</a><a target="_blank" href="#">北京新房</a>
                            <a target="_blank" href="#">广州新房</a>
                            <a target="_blank" href="#">深圳新房</a>
                            <a target="_blank" href="#">天津新房</a>
                            <a target="_blank" href="#">成都新房</a>
                            <a target="_blank" href="#">南京新房</a>
                            <a target="_blank" href="#">杭州新房</a>
                            <a target="_blank" href="#">青岛新房</a><a target="_blank" href="#">北京新房</a>
                            <a target="_blank" href="#">广州新房</a>
                            <a target="_blank" href="#">深圳新房</a>
                            <a target="_blank" href="#">天津新房</a>
                            <a target="_blank" href="#">成都新房</a>
                            <a target="_blank" href="#">南京新房</a>
                            <a target="_blank" href="#">杭州新房</a>
                            <a target="_blank" href="#">青岛新房</a>
                        </dd>
                    </div>
                    <div style="display: none;">
                        <dd>
                            <a target="_blank" href="#">北京百科</a>
                            <a target="_blank" href="#">广州百科</a>
                            <a target="_blank" href="#">深圳百科</a>
                            <a target="_blank" href="#">天津百科</a>
                            <a target="_blank" href="#">成都百科</a>
                            <a target="_blank" href="#">北京百科</a>
                            <a target="_blank" href="#">广州百科</a>
                            <a target="_blank" href="#">深圳百科</a>
                            <a target="_blank" href="#">天津百科</a>
                            <a target="_blank" href="#">成都百科</a><a target="_blank" href="#">北京百科</a>
                            <a target="_blank" href="#">广州百科</a>
                            <a target="_blank" href="#">深圳百科</a>
                            <a target="_blank" href="#">天津百科</a>
                            <a target="_blank" href="#">成都百科</a><a target="_blank" href="#">北京百科</a>
                            <a target="_blank" href="#">广州百科</a>
                            <a target="_blank" href="#">深圳百科</a>
                            <a target="_blank" href="#">天津百科</a>
                            <a target="_blank" href="#">成都百科</a><a target="_blank" href="#">北京百科</a>
                            <a target="_blank" href="#">广州百科</a>
                            <a target="_blank" href="#">深圳百科</a>
                            <a target="_blank" href="#">天津百科</a>
                            <a target="_blank" href="#">成都百科</a>
                        </dd>
                    </div>
                    <div style="display: none;">
                        <dd>
                            <a target="_blank" href="#">北京租房</a>
                            <a target="_blank" href="#">广州租房</a>
                            <a target="_blank" href="#">深圳租房</a>
                            <a target="_blank" href="#">天津租房</a>
                            <a target="_blank" href="#">北京租房</a>
                            <a target="_blank" href="#">广州租房</a>
                            <a target="_blank" href="#">深圳租房</a>
                            <a target="_blank" href="#">天津租房</a><a target="_blank" href="#">北京租房</a>
                            <a target="_blank" href="#">广州租房</a>
                            <a target="_blank" href="#">深圳租房</a>
                            <a target="_blank" href="#">天津租房</a><a target="_blank" href="#">北京租房</a>
                            <a target="_blank" href="#">广州租房</a>
                            <a target="_blank" href="#">深圳租房</a>
                            <a target="_blank" href="#">天津租房</a><a target="_blank" href="#">北京租房</a>
                            <a target="_blank" href="#">广州租房</a>
                            <a target="_blank" href="#">深圳租房</a>
                            <a target="_blank" href="#">天津租房</a><a target="_blank" href="#">北京租房</a>
                            <a target="_blank" href="#">广州租房</a>
                            <a target="_blank" href="#">深圳租房</a>
                            <a target="_blank" href="#">天津租房</a>
                        </dd>
                    </div>
                    <div style="display: none;">
                        <dd>
                            <a target="_blank" href="#">北京小区二手房</a>
                            <a target="_blank" href="#">广州小区二手房</a>
                            <a target="_blank" href="#">深圳小区二手房</a>
                            <a target="_blank" href="#">天津小区二手房</a>
                            <a target="_blank" href="#">成都小区二手房</a>
                            <a target="_blank" href="#">北京小区二手房</a>
                            <a target="_blank" href="#">广州小区二手房</a>
                            <a target="_blank" href="#">深圳小区二手房</a>
                            <a target="_blank" href="#">天津小区二手房</a>
                            <a target="_blank" href="#">成都小区二手房</a><a target="_blank" href="#">北京小区二手房</a>
                            <a target="_blank" href="#">广州小区二手房</a>
                            <a target="_blank" href="#">深圳小区二手房</a>
                            <a target="_blank" href="#">天津小区二手房</a>
                            <a target="_blank" href="#">成都小区二手房</a><a target="_blank" href="#">北京小区二手房</a>
                            <a target="_blank" href="#">广州小区二手房</a>
                            <a target="_blank" href="#">深圳小区二手房</a>
                            <a target="_blank" href="#">天津小区二手房</a>
                            <a target="_blank" href="#">成都小区二手房</a><a target="_blank" href="#">北京小区二手房</a>
                            <a target="_blank" href="#">广州小区二手房</a>
                            <a target="_blank" href="#">深圳小区二手房</a>
                            <a target="_blank" href="#">天津小区二手房</a>
                            <a target="_blank" href="#">成都小区二手房</a>
                        </dd>
                    </div>
                    <div style="display: none;">
                        <dd>
                            <a target="_blank" href="#">新民市房价</a>
                            <a target="_blank" href="#">于洪区房价</a>
                            <a target="_blank" href="#">和平房价</a>
                            <a target="_blank" href="#">和平区房价</a>
                            <a target="_blank" href="#">辽中区房价</a>
                            <a target="_blank" href="#">康平县房价</a>
                            <a target="_blank" href="#">新民市房价</a>
                            <a target="_blank" href="#">于洪区房价</a>
                            <a target="_blank" href="#">和平房价</a>
                            <a target="_blank" href="#">和平区房价</a>
                            <a target="_blank" href="#">辽中区房价</a>
                            <a target="_blank" href="#">康平县房价</a><a target="_blank" href="#">新民市房价</a>
                            <a target="_blank" href="#">于洪区房价</a>
                            <a target="_blank" href="#">和平房价</a>
                            <a target="_blank" href="#">和平区房价</a>
                            <a target="_blank" href="#">辽中区房价</a>
                            <a target="_blank" href="#">康平县房价</a><a target="_blank" href="#">新民市房价</a>
                            <a target="_blank" href="#">于洪区房价</a>
                            <a target="_blank" href="#">和平房价</a>
                            <a target="_blank" href="#">和平区房价</a>
                            <a target="_blank" href="#">辽中区房价</a>
                            <a target="_blank" href="#">康平县房价</a><a target="_blank" href="#">新民市房价</a>
                            <a target="_blank" href="#">于洪区房价</a>
                            <a target="_blank" href="#">和平房价</a>
                            <a target="_blank" href="#">和平区房价</a>
                            <a target="_blank" href="#">辽中区房价</a>
                            <a target="_blank" href="#">康平县房价</a>
                        </dd>
                    </div>
                    <div style="display: none;">
                        <dd>
                            <a target="_blank" href="#">沈阳房产</a>
                            <a target="_blank" href="#">沈阳瓷砖</a>
                            <a target="_blank" href="#">沈阳分类信息</a>
                        </dd>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <!--<ul class="partner-logo">-->
            <!--<li><img src="https://s1.ljcdn.com/plat-pc/pc/asset/img/partner/zsyh.png?_v=20181108185457" title="合作与友情链接"></li>-->
            <!--<li><img src="https://s1.ljcdn.com/plat-pc/pc/asset/img/partner/gsyh.png?_v=20181108185457" title="合作与友情链接"></li>-->
            <!--<li><img src="https://s1.ljcdn.com/plat-pc/pc/asset/img/partner/jtyh.png?_v=20181108185457" title="合作与友情链接"></li>-->
        <!--</ul>-->
        <!--<div class="bottom">-->
            <!--<div class="copyright fl">天津小屋信息科技有限公司 | 地址：天津经济技术开发区南港工业区综合服务区办公楼C座一层112室09单元 | 电话：10106188 | 津ICP备18000836号-1 | ©Copyright2018 ke.com版权所有</div>-->
            <!--<div style="color: #B7BBC3;font-size: 14px;line-height: 20px;">-->
                <!--<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802024019" style="display:none;text-decoration:none;height:20px;line-height:20px;"><p style="height:20px;line-height:20px;color: #B7BBC3;">京公网安备 11010802024019号</p></a>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>
<!--底部 end-->
</body>
</html>